<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/layouts/user/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
</head>
<body>
    <div class="bottom">
        <div class="bot">
            <div class="col0">
                <h5>Thông tin</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quis<br> obcaecati corporis perferendis
                    delectus repellat quas omnis, <br> officia praesentium facilis? Corporis, a blanditiis temporibus <br> error
                    earum dolores deserunt dicta id!</p>
                <a href="#"><i id="facebook" class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i id="google" class="fa-brands fa-google"></i></a>
                <a href="#"><i id="instagram" class="fa-brands fa-instagram-square"></i></a>
                <a href="#"><i id="tiktok" class="fa-brands fa-tiktok"></i></a>
                <a href="#"><i id="twitter" class="fa-brands fa-twitter-square"></i></a>
            </div>


            <div class="col1">
                <h5>Sản phẩm nổi bật</h5>
                <p class="bot-C">COMPUTER</p>
                <p class="bot-C">KEYBOARD</p>
                <p class="bot-C">MACBOOK</p>
                <p class="bot-C">LAPTOP</p>
            </div>
            <div class="col2">
                <h5>Dịch vụ khách hàng</h5>
                <p class="bot-C">Chế độ bảo hành</p>
                <p class="bot-C">Dịch vụ đổi mới</p>
                <p class="bot-C">Dịch vụ sửa chữa</p>
                <p class="bot-C">Thay thế linh kiện phụ tùng</p>
            </div>
            <div class="col3">
                <h5>Liên hệ</h5>
                <p class="bot-C">0357007083</p>
                <p class="bot-C">Technology@gmail.com</p>
                <p class="bot-C">TechnologyWorld3MAN</p>
            </div>
        </div>
        <hr />
        <div class="dizbot">
            <span> © 3 MAN TECHNOLOGY - Website </span>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
</body>
</html>