.cart {
    padding: 20px;
    color: black;
  }
  .heart {
    color: black;
  }
  .cartHeart {
    margin-right: 100px;
  }
  .add {
    border-radius: 5px;
    margin-right: 80px;
  }
  :hover.add {
    background: rgb(44, 175, 231);
  }
  .facebook {
    cursor: pointer;
  }
  .bottom {
    color: white;
    background-color: rgb(28, 27, 27);
  }
  .bot {
    padding: 50px;
    display: flex;
    color: white;
    justify-content: space-evenly;
  }
  .dizbot {
    text-align: center;
  }
  .bot-C {
    font-size: 14px;
    color: #adadad;
  }
  