.cart {
    padding: 20px;
    color: black;
  }
  .heart {
    color: black;
  }
  .cartHeart {
    margin-right: 100px;
  }
  .add {
    border-radius: 5px;
    margin-right: 80px;
  }
  :hover.add {
    background: rgb(44, 175, 231);
  }
  .facebook {
    cursor: pointer;
  }
  .bottom {
    color: white;
    background-color: rgb(28, 27, 27);
  }
  .bot {
    padding: 50px;
    display: flex;
    color: white;
    justify-content: space-evenly;
  }
  .dizbot {
    text-align: center;
  }
  .bot-C {
    font-size: 14px;
    color: #adadad;
  }

  .Tittle {
    font-size: 70px;
    text-align: center;
  }

  .ProductOne {
    display: flex;
    justify-content: space-between; /* To evenly distribute the space between cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next row if there isn't enough space */
    margin: 0 -10px; /* Adjust the margin as needed */
}

  .card {
    width: calc(25% - 20px); 
    margin: 10px; 
}
  .card img {
    max-width: 100%;
    height: auto;
}
